# Web framework
fastapi
uvicorn[standard]
python-multipart

# Base de datos
sqlalchemy
alembic

# Autenticación
python-jose[cryptography]
passlib[bcrypt]

# Validación y configuración
pydantic[email]
pydantic-settings
python-dotenv
